<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>时空猎人</string>
		<key>icon</key>
		<string>http://img5.imgtn.bdimg.com/it/u=4267222417,1017407570&amp;fm=200&amp;gp=0.jpg</string>
		<key>download</key>
		<string>445万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>愤怒的小鸟</string>
		<key>icon</key>
		<string>http://pic49.nipic.com/file/20140927/19617624_230415502002_2.jpg</string>
		<key>download</key>
		<string>33万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神偷奶爸</string>
		<key>icon</key>
		<string>http://img06.tooopen.com/images/20160712/tooopen_sy_170083325566.jpg</string>
		<key>download</key>
		<string>223万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果忍者</string>
		<key>icon</key>
		<string>http://pic62.nipic.com/file/20150319/12632424_132215178296_2.jpg</string>
		<key>download</key>
		<string>1098万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>找你妹</string>
		<key>icon</key>
		<string>http://pic.58pic.com/58pic/13/85/85/73T58PIC9aj_1024.jpg</string>
		<key>download</key>
		<string>1万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>保卫萝卜</string>
		<key>icon</key>
		<string>http://imgsrc.baidu.com/image/c0%3Dshijue1%2C0%2C0%2C294%2C40/sign=9909ddc1b91c8701c2bbbaa54f16f45a/a08b87d6277f9e2fb0727e2d1530e924b899f354.jpg</string>
		<key>download</key>
		<string>10万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>捕鱼达人</string>
		<key>icon</key>
		<string>http://imgsrc.baidu.com/image/c0%3Dshijue1%2C0%2C0%2C294%2C40/sign=ae4e87268d94a4c21e2eef68669d71a0/7c1ed21b0ef41bd5d5a88edd5bda81cb39db3d1b.jpg</string>
		<key>download</key>
		<string>99万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>植物大战僵尸</string>
		<key>download</key>
		<string>110万</string>
		<key>icon</key>
		<string>http://pic28.nipic.com/20130424/11588775_115415688157_2.jpg</string>
	</dict>
</array>
</plist>
